body {
 font-family: Helvetica, sans-serif;
 font-size: 16px;
 /*margin-left: 24px;
 padding-left: 24px;*/
}


a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  padding: 0 1.5rem;
}

.content .main-content {
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;
  border-right: 1px solid rgb(245, 245, 245);
}

.content .support-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 0;
}

.media-container {
  overflow: hidden;
}

.media-container img,
.media-container video {
  display: block;
  width: 100%;
}


.banner{
/*margin-top: 64px;
max-height: 64px;*/
  display: flex;
  align-items: center;
  padding-bottom: 64px;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.logo img {
  margin-right: .5rem;
  height: 70px;
}

.banner span {
  color: green;
  /*font-size: 30px;*/
}

.banner nav li {
  display:inline;
  padding-right: 30px;
  margin-right: 10px;
  font-size: 30px;
}

nav {
  display: inline-block;
  text-align: right;
  min-width: 500px;
  /*padding-top: 64px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbutton:hover{
  background-color: #FFD700;
}

.mobile-menu nav li {
  display:inline;
  padding-right: 30px;
  margin-right: 80px;
  font-size: 30px;
}

@media screen and (max-width:640px){
  .navbutton li {
    display:inline;
    list-style-type: none;
  }

 .logo span {
    display:none;
  }
  .main-menu {
    display:none;
  }
.main-content .media-container {
  display: none;
}

#panel2 .main-content h3 {
display:none;
}
#panel2 .main-content p {
display:none;
}
#panel2 .main-content h2 {
display:none;
}
#panel3 .media-container{
  display:none;

}
#panel3 .text-content h4, #panel3 .text-content p {
  display:none;
}
#panel4 .panel4-information .panel4-info-text span {
  display:none;
}
#panel4 .panel4-information .panel4-info-text p {
  display:none;
}
#now-then{
  display:none;
}
#panel4 .support-content .panel4-information .media-container {
  display:none;
}
#panel4 .main-content h3, #panel4 .main-content p {
  display:none;
}


}

@media only screen and (max-width: 895px)  {
/*.content .media-container  {
  width:100%;
}*/
#panel1 {
    flex-direction: column;
    padding: 0;
  }
.content .support-content {
  width:auto;
}
.content .main-content {
  width: auto;
}

.panel2-information {
    flex-direction: column;
    padding: 0;
  }
.content .support-content {
  width:auto;
}
.content .main-content {
  width: auto;
}
.panel3row {
  flex-direction:column;
  padding: 0;

}
.text-content h3 {
  background-color: #A9A9A9;
}
#panel4 .content .main-content .media-container video {
  width:100%;
  height:auto;
}

}

  @media screen and (min-width:641px){
    .mobile-menu {
      display:none;
    }

  }

#rectangle {
	width: 25px;
	height: 50px;
	background: #8FBC8F;
}

#panel1 {
  background-color: rgb(219, 219, 219);
}

#panel1 span {
display: flex;
font-size: 3.75rem;
justify-content: flex-end;
margin-left: 105px;
margin-top:10px;
color:#303030;
text-align: center;
font-weight: bolder;

}
#panel1 p {
display: flex;
font-size: 2rem;
justify-content: flex-end;
color: #2b2b2b;
margin-left: 105px;
margin-top:10px;
text-align: center;
}

.maincontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.button {
  background-color: #303030;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-left: 120px;
  margin-top: 10px;
  cursor: pointer;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.verticalLine {
  border-left: solid  #D3D3D3;
  margin-right: 10px;
}

#panel2 h3 {
  display: block;
  font-size: 3.25rem;
  justify-content:flex-start;
  color:#303030;
  text-align: center;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 40px;

}

#panel2 p {
  display: block;
  font-size: 1.5rem;
  justify-content:flex-start;
  text-align: center;
  margin-bottom: 20px;

}
#panel2 h2 {
  display: block;
  font-size: 1.5rem;
  justify-content:flex-start;
  text-align: left;

}

#lecturer {
  background-color: #DCDCDC;
}

.panel2-information {
  display:flex;
  min-width: 423px;
  margin-right: 10px;
}
.link {
  color: blue;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}


.link:hover{
  background-color: #FFD700;
}

.panel2-info-text{
  display:flex;
  flex-direction: column;

}

.panel2-information span{
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin-top: : 10px;
  justify-content: space-between;
}
.panel2-information p {
  padding-bottom: 10px;
  display:flex;
  flex-direction: column;
  font-size: 1rem;
}
.panel2-information img {
  padding-top: 20px;
}

}
.panel2-information .media-container, .panel4-information .media-container {
  width: 35%;
}


#panel3 {
    padding: 2rem 3.5;
    background-color: rgb(245, 245, 245);
}

#panel3 span {
  display:flex;
  font-size: 3.75rem;
  justify-content:center;
  /*margin-top:30px;*/
  padding-top: 40px;
  color:#303030;
  text-align: center;
}
/*#panel3 img {
  z-index;
  width: 50%;
  height: 300px;
  margin-left: 100px;
  padding-top: 20px;

}*/

.panel3row {
  display:flex;

}

.course .text-content{
  padding: 1rem 1rem 1.5rem 1rem;
}

.course {
  flex-basis: 33%;
  margin: 1rem;
  background-color: white;
}
.course h3,
.course h4 {
  padding-bottom: .5rem;
}

.text-content h3 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder;
}
.text-content h4, p {
  font-size: 1.75rem;
  color:	#808080;
  text-align: left;
}
#panel4 {
  /*background-color: rgb(219, 219, 219);*/
  padding: 2rem 0;
  text-align: center;
}

#panel4 span {
display: block;
font-size: 3.00rem;
/*justify-content: flex-end;*/
margin-left: 105px;
margin-top:10px;
color:#303030;
text-align: center;
font-weight: bolder;

}

#panel4 h3 {
  display: block;
  font-size: 2.25rem;
  justify-content:flex-start;
  color:#303030;
  text-align: center;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 40px;

}


#panel4 p {
  display: block;
  font-size: 1.5rem;
  justify-content:flex-start;
  text-align: center;
  margin-bottom: 20px;

}
#now-then {
  background-color: #DCDCDC;
}

.panel4-information {
  display:flex;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid rgb(245, 245, 245);
  margin-bottom: 1.5rem;
  /*min-width: 423px;
  min-height: 168px;
  margin-right: 10px;*/
}


.panel4-info-text{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 0 0.75rem 0 1rem;

}

.panel4-information img {
  padding-top: 20px;
}

#panel4 h3.trademark {
  width: 75%;
  text-align: left;
  font-size: 1.3rem;
  color:	#808080;
}
#panel4 h3.terms {
  width: 25%;
  text-align: right;
  font-size: 1.3rem;
  color:	#808080;
}

#panel5 {
  /*display: flex;*/
  padding: 2rem 0;
  text-align: left;
  border-top-style: solid;
  border-width: 3px;
  color: #808080;
}

.footer{
  display:flex;
  font-size: 2rem;
  text-align: left;
  padding-top: 1rem;
}
