body {
 font-family: Helvetica, sans-serif;
 font-size: 16px;
 /*margin-left: 24px;
 padding-left: 24px;*/
}

a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  padding: 0 1.5rem;
}

.content .main-content {
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;
  border-right: 1px solid rgb(245, 245, 245);
}

.content .support-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 0;
}

.media-container {
  overflow: hidden;
}

.media-container img,
.media-container video {
  display: block;
  width: 100%;
}


.banner{
/*margin-top: 64px;
max-height: 64px;*/
  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: .5rem;
}

.banner span {
  color: green;
  /*font-size: 30px;*/
}

.banner nav li {
  display:inline;
  padding-right: 30px;
  margin-right: 10px;
  /*font-size: 30px;*/
}

nav {
  display: inline-block;
  text-align: right;
  min-width: 500px;
  /*padding-top: 64px;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbutton:hover{
  background-color: #FFD700;
}

/*.banner nav span {
  color: 	#000000;
}*/


#rectangle {
	width: 25px;
	height: 50px;
	background: #8FBC8F;
}

#panel1 {
  background-color: rgb(219, 219, 219);
}

#panel1 span {
display: block;
font-size: 3.75rem;
justify-content: flex-end;
margin-left: 105px;
margin-top:10px;
color:#303030;
text-align: center;
font-weight: bolder;

}
#panel1 p {
display: block;
font-size: 2rem;
justify-content: flex-end;
color: #2b2b2b;
margin-left: 105px;
margin-top:10px;
text-align: center;
}

.maincontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.button {
  background-color: #303030;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-left: 120px;
  margin-top: 10px;
  cursor: pointer;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.verticalLine {
  border-left: solid  #D3D3D3;
  margin-right: 10px;
}

#panel2 h3 {
  display: block;
  font-size: 3.25rem;
  justify-content:flex-start;
  color:#303030;
  text-align: center;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 40px;

}

#panel2 p {
  display: block;
  font-size: 1.5rem;
  justify-content:flex-start;
  text-align: center;
  margin-bottom: 20px;

}
#panel2 h2 {
  display: block;
  font-size: 1.5rem;
  justify-content:flex-start;
  text-align: left;

}

.panel2-information {
  display:flex;
  min-width: 423px;
  margin-right: 10px;
}
.link {
  color: blue;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}


.link:hover{
  background-color: #FFD700;
}

.panel2-info-text{
  display:flex;
  flex-direction: column;

}

.panel2-information span{
  padding-top: 10px;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin-top: : 10px;
  justify-content: space-between;
}
.panel2-information p {
  padding-bottom: 10px;
  display:flex;
  flex-direction: column;
  font-size: 1rem;
}
.panel2-information img {
  padding-top: 20px;
}

}
.panel2-information .media-container, .panel4-information .media-container {
  width: 35%;
}


/*#panel3 {
    background-color: rgb(219, 219, 219);
}

#panel3 span {
  display:flex;
  font-size: 3.75rem;
  justify-content:center;
  margin-left: 1000px;
  margin-top:10px;
  color:#303030;
  text-align: center;
}
#panel3 img {
  z-index;
  width: 50%;
  height: 300px;
  margin-left: 100px;
}

#panel3 .box {
    width: 100px;
    background-color: #ffffff;
    margin-left: 100px
    height: 500px;
}*/

#panel4 {
  background-color: rgb(219, 219, 219);
  padding: 2rem 0;
  text-align: center;
}

#panel4 span {
display: block;
font-size: 3.00rem;
/*justify-content: flex-end;*/
margin-left: 105px;
margin-top:10px;
color:#303030;
text-align: center;
font-weight: bolder;

}

#panel4 h3 {
  display: block;
  font-size: 2.25rem;
  justify-content:flex-start;
  color:#303030;
  text-align: center;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 40px;

}


#panel4 p {
  display: block;
  font-size: 1.5rem;
  justify-content:flex-start;
  text-align: center;
  margin-bottom: 20px;

}

.panel4-information {
  display:flex;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid rgb(245, 245, 245);
  margin-bottom: 1.5rem;
  /*min-width: 423px;
  min-height: 168px;
  margin-right: 10px;*/
}


.panel4-info-text{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 0 0.75rem 0 1rem;

}

.panel4-information img {
  padding-top: 20px;
}
