body {
 font-family: Helvetica, sans-serif;
 font-size: 16px;
 margin-left: 24px;
 padding-left: 24px;
}
.banner{
margin-top: 64px;
max-height: 64px;
}
.banner img {
width: 80px;
height: 80px;
}

.banner nav li {
  display:inline;
  padding-right: 60px;
  margin-right: 10px;
  font-size: 30px;
}

.banner nav li a:hover{
  background-color: #FFD700;
}

.banner nav span {
  color: 	#000000;
}
.banner span{
  color: green;
  font-size: 30px;
}

#rectangle {
	width: 25px;
	height: 50px;
	background: #8FBC8F;
}

nav {
  display: inline-block;
  text-align: right;
  min-width: 500px;
  padding-top: 64px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.maincontainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.begin-panel {
 flex:1 1 auto;
  background: #D3D3D3;
  display: flex;
  margin-top: 64px;
  margin-left: 24px;
}

.panel .begin-panel span {
  display:block;
  font-size: 60px;
  justify-content: flex-end;
  margin-left: 105px;
  margin-top: 200px;
  color: 		#2b2b2b;
  text-align: center;
}
.panel .begin-panel div {
  display: block;
  font-size: 35px;
  margin-top: 300px;
  margin-right: 105px;
}
.begin-panel img {
  display:block;
  margin-left: 32px;
  width: 60%;
  margin-top: 0px;
  margin-bottom: 32px;
  margin-right: 24px;

}
.begin-panel .left-div {
  width: 100;
}

.begin-panel .right-div {
  width: 100;
}
.btn-text-right {
  background-color: #303030;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 120;
  cursor: pointer;
}

.mid-panel1 {
  flex:1 1 auto;
  display: flex;
  margin-top: 160px;
}

.mid-panel1 img {
  display:block;
  margin-left: 32px;
  width: 60%;
  margin-top: 0px;
  margin-bottom: 32px;
  margin-right: 24px;
}

.midpanel1text {
  display: flex;
  flex-direction: column;
  height: 70px;
  padding: 10px 0;
}

.verticalLine {
  border-left: solid  #D3D3D3;
}
